@model Listovki_TSP_Uni.Models.VuprosModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VuprosModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.TextBoxFor(s => s.uslovie);
            @Html.TextBoxFor(s => s.img);
            @Html.TextBoxFor(s => s.tochki);

            //ICollection<Listovki_TSP_Uni.Models.OtgovorModel> otgovori = new List<Listovki_TSP_Uni.Models.OtgovorModel>();  //not so sure about this


            <input type="text" name="otgovorContent1" />
            <input type="text" name="otgovorContent2" />
            <input type="text" name="otgovorContent3" />
            <input type="text" name="otgovorContent4" />


            <input type="submit" value="Generate report" />
        }
        @*<form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="uslovie" class="control-label"></label>
                <input asp-for="uslovie" class="form-control" />
                <span asp-validation-for="uslovie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="img" class="control-label"></label>
                <input asp-for="img" class="form-control" />
                <span asp-validation-for="img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tochki" class="control-label"></label>
                <input asp-for="tochki" class="form-control" />
                <span asp-validation-for="tochki" class="text-danger"></span>
            </div>
            <div class="custom-file">
                <label asp-for="img" class="control-label"></label>
                <input asp-for="img" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
                <span asp-validation-for="img" class="text-danger"></span>
            </div>

            Trqbva da pravim otgovorori koito da se commitnat kum bazata danni i da se svurjat s vuprosa
            <div class="otgovor-container">
                @for (int i = 0; i < 4; i++)
                {
                    <div class="form-group">
                        <label asp-for="Otgovori.ElementAt(i).Content" class="control-label"></label>
                        <input asp-for="Otgovori.ElementAt(i).Content" class="form-control" />
                        <span asp-validation-for="Otgovori.ElementAt(i).Content" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Otgovori.ElementAt(i).veren" class="control-label"></label>
                        <input asp-for="Otgovori.ElementAt(i).veren" class="form-control" />
                        <span asp-validation-for="Otgovori.ElementAt(i).veren" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Otgovori.ElementAt(i).izobrajenie" class="control-label"></label>
                        <input asp-for="Otgovori.ElementAt(i).izobrajenie" class="form-control" />
                        <span asp-validation-for="Otgovori.ElementAt(i).izobrajenie" class="text-danger"></span>
                    </div>
                }
            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>*@

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
