
@model Listovki_TSP_Uni.Models.VuprosModel
@{
    ViewData["Title"] = "Create";
}
<h1>Създаване</h1>

<h4>Въпрос</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Условие</label>
                <input asp-for="uslovie" class="form-control" />
                <span asp-validation-for="uslovie" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label class="control-label">Изображение</label>
                <input name="img" type="file" class="form-control" />
                <span asp-validation-for="img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Точки</label>
                <input asp-for="tochki" class="form-control" />
                <span asp-validation-for="tochki" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
