@model Listovki_TSP_Uni.Models.OtgovorModel

@{
    ViewData["Title"] = "Create";
}

<h1>Създаване</h1>

<h4>Отговори за въпрос</h4>
<hr />
<div class="row">
        <form asp-action="Create">
            <div class="flex-container">
                @for (int i = 0; i < 4; i++)
                {
                    <div class="flex">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Съдържание</label>
                              <input class="form-control" type="text" name="otgovorContent" />
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Изображение</label>
                                <input name="otgovorIzobrajenie" class="form-control-file" type="file" />
                            <span asp-validation-for="izobrajenie" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <select class="form-check-input" name="otgovorVeren"> @Html.DisplayNameFor(model => model.veren)
                                    <option value="true">верен</option>
                                    <option value="false" selected>грешен</option>
                                </select>
                            </label>
                        </div>
                    </div>
                 }
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
