@model Listovki_TSP_Uni.Models.OtgovorModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OtgovorModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="d-inline-flex">
                @for (int i = 0; i < 4; i++)
                {
                    <div class="flex-column">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Content" class="control-label"></label>
                              <input class="form-control" type="text" name="otgovorContent" />
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="izobrajenie" class="control-label"></label>
                                <input name="otgovorIzobrajenie" class="form-control" type="file" />
                            <span asp-validation-for="izobrajenie" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" name="otgovorVeren" type="checkbox"/> @Html.DisplayNameFor(model => model.veren)
                            </label>
                        </div>
                    </div>
                 }
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                        </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
